button {
  background-color: transparent;
  border: none;
  padding: 0;
}

i {
  background-color: #d4d4d4;
  border-radius: 50%;
  color: #fff;
  margin-right: 7px;
  padding: 12px 10px;
  pointer-events: none;
}

.playable {
  background-color: #e2d3ff;
}
